@media (min-width: 768px){
    .contenedor__equipo{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;
    }

    .campo.formulario__input[type="number"]{
        max-width: 4rem;
    }
}