.contenedorSustitucion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.contenedorSustitucion .botonSust {
  background-color: #aeb6bf;
  color: #fff;
  min-width: 11rem;
  min-height: 11rem;
  transition: background 0.5s;
}

.botonSust:hover {
  background-color: #969ea6;
}
